body{
    background-image: linear-gradient(to right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

h1{
    margin-top: 50px !important;
    margin-bottom: 25px !important;
    border-radius: 5px;
    color: yellow;
}
